.page {
  background-color: #ffffff;
}

.action-bar {
  background-color: #3f51b5;
  color: white;
}

.h1 {
  font-size: 24;
  font-weight: bold;
  color: #333333;
}

.text-center {
  text-align: center;
}